{%- assign social = site.minima.social_links -%}

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <h2 class="footer-heading">{{ site.author.name }}</h2>
        <ul class="contact-list">
          {% if site.author.email -%}
            <li>
              <a class="u-email" href="mailto:{{ site.author.email }}">
                <svg class="svg-icon grey">
                  <use xlink:href="{{ '/assets/minima-social-icons.svg#email' | relative_url }}">
                  </use>
                </svg>
                {{ site.author.email }}
              </a>
            </li>
          {%- endif %}
          {%- if social.github -%}<li><a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
              {{ social.github }}
            </a></li>{%- endif -%}
          {%- if social.telegram -%}
            <li>
              <a rel="me" href="https://t.me/{{ social.telegram | cgi_escape | escape }}" title="{{ social.telegram | escape }}">
                <svg class="svg-icon grey">
                  <use xlink:href="{{ '/assets/minima-social-icons.svg#telegram' | relative_url }}"></use></svg>
                {{ social.telegram }}
              </a>
            </li>
            {%- endif -%}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>

</footer>
